.nav {
  display: flex;
  background: rgb(66, 35, 243);
  padding: 0 6rem;
  justify-content: space-between;
  color: #fff;
  align-items: center;
}
.nav-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 20%;
}
.nav-list li a {
  color: #fff;
  font-weight: bold;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 40%;
  border-radius: 5px;
  margin: 10px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

img {
  border-radius: 5px 5px 0 0;
}

.card-body {
  padding: 2px 16px;
}
.container {
  display: flex;
  margin: 15px;
}
